[ngfDatepickerDayView] {
  text-align: center;
  background: transparent;
  &.outside {
    opacity: 0.5;
  }
  &.selected{
    background-color: rgb(2, 117, 216);
    color: white;
  }
  &.custom-day{
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
}
