<h3>
  Dropdown autoclose tests
  <span class="margin-left-1 badge {{d.isOpen() ? 'badge-success' : 'badge-danger'}}" id="open-status">{{d.isOpen() ? 'open' : 'closed'}}</span>
</h3>

<form id="default" (contextmenu)="$event.preventDefault()">
  <div class="form-group form-inline">
    <div id="dropdown" #d="ngfDropdown" ngfDropdown class="d-inline-block" [autoClose]="autoClose" [container]="container">
      <button class="btn hollow secondary" ngfDropdownToggle>Dropdown</button>
      <div id="dropdownMenuId" ngfDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Item</button>
      </div>
    </div>

    <div ngfDropdown class="d-inline-block ml-3">
      <button class="btn hollow secondary" id="autoclose-dropdown" ngfDropdownToggle>Choose Autoclose</button>
      <div ngfDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" id="autoclose-true" (click)="autoClose = true">True</button>
        <button class="dropdown-item" id="autoclose-false" (click)="autoClose = false">False</button>
        <button class="dropdown-item" id="autoclose-outside" (click)="autoClose = 'outside'">'Outside'</button>
        <button class="dropdown-item" id="autoclose-inside" (click)="autoClose = 'inside'">'Inside'</button>
      </div>
      <button class="btn hollow secondary margin-left-1" id="container-null" (click)="container = null">Append dropdown to widget</button>
      <button class="btn hollow secondary margin-left-1" id="container-body" (click)="container = 'body'">Append dropdown to body</button>
    </div>

    <button class="btn hollow secondary ml-3" id="outside-button">Outside button</button>
  </div>
</form>
